<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/Community/style.css" type="text/css">
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
       
    <main>
        <section id="board">
            <h2>담벼락</h2>
            <div class="post-header">
                <div class="title">산타는 어떻게 굴뚝을 내려갈까?</div>
                <div class="post-info">
                    <div class="author">글쓴이</div>
                    <div class="writetime">2023.11.14 12:05</div>
                    <div class="views">조회 3</div>
                    <div class="comments">댓글 3</div>
                    <button>신고</button>
                </div>
            </div>
            <div class="post-main">
                산타는 어떻게 우리 집에 오지? 유년기에 누구나 한 번쯤 궁금해하는 질문, 그럼에도 누구도 풀지 못한 이 희대의 미스터리에 그림책계 슈퍼스타 듀오 ‘맥 바넷’과 ‘존 클라센’도 나섰다. 2023 신작 그림책 《산타는 어떻게 굴뚝을 내려갈까?》이다.

                칼데콧상, 케이트 그린어웨이상, 보스턴글로브 혼북상 등 전 세계 강력한 상을 모두 휩쓸며, 발표하는 신작마다 모두의 기대를 한몸에 받는 두 작가는 2023년 6월 한국에 방한하여, 아이돌 못지않은 인기를 입증했다. 그야말로 한국 독자들은 ‘맥 & 존’앓이로 들썩였다.

                방한 당시 두 작가와 함께하는 여러 프로그램에는 출판계 전문가들은 물론 수많은 독자들이 찾아와 열렬한 환대로 호응했다. 장난기 가득하고 유머러스하면서 진지한 작품관에 반했다는 현장담이 쏟아졌고, 팬들의 사랑과 부응에 힘입어 현대어린이책미술관(MOKA)은 전 세계 최초 ‘존 클라센 & 맥 바넷’ 전시의 연장을 확정했다.

                팬들의 뜨거운 사랑만큼이나 신작에 대한 기대는 점점 높아지는 법. 이번에도 두 작가는 그 기대를 저버리지 않고, 오랫동안 이어 온 그림책 협업과 내공을 시원하게 쏟아 냈다. 크리스마스만 돌아오면 반복되는 케케묵은 질문을 두 작가 특유의 재치와 시니컬한 유머를 놓지 않고, 그럴듯하면서 알쏭달쏭한 답변으로 독자들을 매혹한다.

                다소 진부한 질문이 소재라 뜻밖이고, 그렇기에 더욱 기대되는 2023 크리스마스 신작 선물! 포장을 푼 순간, 산타와 순록의 환상 케미에 깔깔 폭소를 터트리다가도 뭉근한 감동에 어리둥절할지도 모른다. 맥 바넷과 존 클라센의 크리스마스 선물이라면, 그게 뭐든 또 무슨 상관이겠는가!
            </div>
           <div class="likes">좋아요 (3)</div>

            <div class="viewcomment">
                <div><h3>댓글(3)</h3></div>
                <div class="comment">
                    <div class="c-author">작성자</div>
                    <div class="c-comment">댓글내용</div>
                    <div class="comment-info">
                        <div class="c-writetime">2023. 11. 02. 17:00 </div>
                        <div class="c-likes"> 좋아요 </div>
                        <div class="report"> 신고</div>
                    </div>
                </div>
                <div class="comment">
                    <div class="c-author">작성자2</div>
                    <div class="c-comment">댓글내용 가나다라마</div>
                    <div class="comment-info">
                        <div class="c-writetime">2023. 11. 02. 17:00 </div>
                        <div class="c-likes"> 좋아요 </div>
                        <div class="report"> 신고</div>
                    </div>
                </div>
                <div class="comment">
                    <div class="c-author">작성자3</div>
                    <div class="c-comment">댓글내용은 무작위입니다</div>
                    <div class="comment-info">
                        <div class="c-writetime">2023. 11. 02. 17:00 </div>
                        <div class="c-likes"> 좋아요 </div>
                        <div class="report"> 신고</div>
                    </div>
                </div>
                <div class="comment-input">
                    <input type="text" placeholder="댓글을 남겨보세요">
                </div>
            </div>
        </section>
        
        <section id="bottom">
         <div class="btns_p">
            <button>글쓰기</button>
            <button>수정</button>
            <button>목록</button>
            <button>TOP</button>
         </div>
        </section>
    </main>
       
    <footer>
    </footer>
</body>
</html>
