*{
    box-sizing: border-box;
}

main{
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
}

#sign_section{
    max-width: 600px;
    width: 75%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#sign_section>header{
    text-align: center;
}
#sign_section>header>h1{
    margin-top: 0;
}
#sign_section>article{
    flex-grow: 1;

    width: 100%;
    border-radius: 25px;
    box-shadow: 0 5px 25px 0 #909090;
}
#sign_section>article>form{
    width: 100%;
    height: 100%;
    padding: 25px 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#sign_section>article>form>*, #sign_section>article>form>#business-input>*{
    margin-top: 10px;
}

/*에러 메시지*/
#sign_section>article>form>#err{
    /*display: none;*/
    width: 100%;
    height: 20px;
    color: red;
    font-size: 14px;
}
/* 전체 입력창 제어 */
#sign_section>article>form input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1.25em;
}
#sign_section>article>form select{
    font-size: 1.25em;
}
#sign_section>article>form input:focus{
    outline: none;
    border: 2px solid #1ebee6;
}

/* 비밀번호 간격 */
#sign_section>article>form>input:nth-child(2){
    margin-top: 20px;
}
#meter{
    --progress: red;
    width: 100%;
    height: 5px;
    appearance: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #808080;
    /*border: 1px solid #808080;*/
}
#meter::-webkit-progress-bar{
    background: white;
    border-radius: 5px;
}
#meter::-moz-progress-bar{
    border-radius: 5px;
    background-color: var(--progress);
}
#meter::-webkit-progress-value{
    border-radius: 5px;
    background-color: var(--progress);
}
#meter[value]::-webkit-progress-value{
    -webkit-transition : width .5s ease;
    -moz-transition : width .5s ease;
    -o-transition : width .5s ease;
    transition : width .5s ease;
}

/* 전화번호 */
#sign_section>article>form>#tel-container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 10px;

    justify-content: space-between;
    align-items: stretch;
}
#sign_section>article>form>#tel-container>.tel-nums{
    height: 100%;
    flex-grow: 1;
    width: 30%;
    border: 0;

    text-align: center;
}
#sign_section>article>form>#tel-container:focus-within{
    border: 2px solid #1ebee6;
}
#sign_section>article>form>#tel-container>span{
    margin: 0 5px;
    line-height: 50px;
    font-size: 1.5em;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { /* Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
}
input[type='number'] { /* Firefox */
    -moz-appearance: textfield;
}

/* 성별 / 생년월일 */
#sign_section>article>form>#personal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sign_section>article>form>#personal>*{
    width: 49%;
}
#sign_section>article>form>div>select{
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 10px;

    background-color: white;
}

/* 사업자 인증 */
#sign_section>article>form>label[for="business"]{
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: flex;
}
#sign_section>article>form>label[for="business"]>input{
    width: 25px;
    height: 25px;
    accent-color: #1ebee6;
}
#sign_section>article>form>#business-input{
    display: none;
    width: 100%;
}
#sign_section>article>form>#business-input>p{
    margin: 0;
    color: red;
    font-size: 14px;
}
#sign_section>article>form>#business-input>input{
    width: 100%;
    font-size: 14px;
    border: 0;
    height: max-content;
}

/* submit 버튼 */
#sign_section>article>form>#submit{
    background-color: #1ebee6;
    color: white;
    transition: 0.3s;
}
#sign_section>article>form>#submit:hover{
    filter:brightness(110%);
    cursor: pointer;
}
hr{
    width: 100%;
    margin: 2.5px 0;
}