*{ box-sizing: border-box}



/*파란색
흐린선 #ddd
진한선 #808080 더진한건 2px

*/

main{
    max-width:1200px;
    min-width:600px;
    margin:0 auto;
}
#business-p1{
    text-align: center;
    font-size: 30px;
}


/* 사업장 정보 작성 상단 */
#business-h1{
    max-width:600px;
    width:75%;
    display: flex;
    height:400px;
    margin : 10px auto;
}
#business-h1 input{
    width: 100%;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 10px;
}
#business-h1>*>*{
    margin-top: 10px;
}

#business-h1-left{
    width:50%;
    height: 400px;
    padding-right: 5px;

    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
#business-h1-left>#business-h1-left-bottom{
    width: 100%;
    height: 100%;
    border: 1px solid #808080;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
}
#business-h1-left>#business-h1-left-bottom>#img1{
    height: 100%;
}
#business-h1-left>#business-h1-left-bottom>#business-p_img{
    display: none;
}
#business-h1-left>#business-h1-left-bottom>#imgMessage{
    width: 100% ;
    text-align: center;
    position: relative;
    height: 0px;
    top: -30px;
}
#business-h1-left>#business-h1-left-bottom>#imgMessage>div{
    width: 100% ;
    opacity: 0.7;
    color: white;
    background: #AAA;
    height: 30px;
    line-height: 30px;
}

#business-h1-right{
    width:50%;
    height: 400px;
    padding-left: 5px;

    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
#business-h1-right>#business-h1-right-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#business-h1-right>#business-h1-right-middle>input{
    width: 49%;
}
#business-h1-right>#business-h1-right-bottom{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 10px;
    resize: none;
}
#business-submit-div1{
    max-width:600px;
    width:75%;
    font-size: 20px;
    background-color: #1ebee6;
    border-radius: 10px;
    margin : auto;
    border-bottom: 1px solid #808080;
}
#business-submit1 {
    width:100%;
    height: 50px;
    font-size: 20px;
    background-color: #1ebee6;
    color: white;
    border: 0;
    border-radius: 10px;
    transition: 0.3s;
}
#business-submit1:hover{
    filter:brightness(110%);
    cursor: pointer;
}



/* 하단 작성 */
#business-h2{
    max-width:600px;
    width:75%;
    display: flex;
    flex-direction:column;
    border: 1px solid #808080;
    margin : 10px auto;
    border-radius: 10px;
    padding: 5px;
}
#business-p2{
    text-align: center;
    margin: 5px 5px 15px 5px;
}

#business-ul{
    width:100%;
    list-style:none;
    padding-left:0px;
    display: flex;
    flex-wrap: wrap;
    margin : 5px auto;
    flex-direction: column
}
.business-li{
    width:100%;
    display: flex;
    margin: auto;
}
.business-h2-left{
    width: 25%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 10px;
}
.business-h2-right{
    width: 75%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 10px;
}

#business-submit-div2{
    max-width:600px;
    width:75%;
    font-size: 20px;
    background-color: #1ebee6;
    border-radius: 10px;
    margin : auto;
}

/* 메뉴 추가 */
#business-ul{
    /*padding: 5px;*/
}

.business-form-container{
    width: 100%;

}
.business-form{
    width: 100%;
    height: 150px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.business-form>.menuImg{
    flex-shrink: 0;

    height: 100%;
    width: 200px;
    border: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /*border-radius: 10px;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.business-form>.menuImg>.menu{
    height: 100%;
    /*width: 100%;*/
    border:0;
}
.business-form>.menuImg>.menu_imgFile{
    display: none;
}
.business-form>.menuImg>.menuImgMessage{
    width: 100% ;
    text-align: center;
    position: relative;
    height: 0px;
    top: -30px;
}
.business-form>.menuImg>.menuImgMessage>div{
    width: 100% ;
    opacity: 0.7;
    color: white;
    background: #AAA;
    height: 30px;
    line-height: 30px;
}

.business-form>.menuInfo{
    flex-grow: 1;

    height: 100%;
    padding-left: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.business-form>.menuInfo>input{
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 10px;
    /*border-radius: 10px;*/
}

.business-form>.menuInfo>input:first-child{
    border: 1px solid #ddd;
    /*border-top-left-radius: 10px;*/
    border-top-right-radius: 10px;
}
.business-form>.menuInfo>.menuInfoUpdate{
    height: 40px;
    width: 100%;
    border: 0;
    border-bottom-right-radius: 10px;
    display: flex;
}
.business-form>.menuInfo>.menuInfoUpdate>input{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #1ebee6;
    color: white;
    transition: 0.3s;
}
.business-form>.menuInfo>.menuInfoUpdate>input:hover{
    filter:brightness(110%);
    cursor: pointer;
}
.business-form>.menuInfo>.menuInfoUpdate>input:last-child{
    border-bottom-right-radius: 10px;
}
.business-form>.menuInfo>.menuInfoUpdate>.menuDeleteBtn{
    background-color: #93C759;
}


#expand-button{
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
    height: 50px;
    font-size: 20px;
    background-color: #93C759;
    color: white;
    border: 0;
    border-radius: 10px;
    transition: 0.3s;
}
#expand-button:hover{
    filter:brightness(110%);
    cursor: pointer;
}
