<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>로그인 페이지</title>
	<link rel="stylesheet" href="login.css">
	<script src="login.js"></script>
</head>
<body>
	<header>
		
		<nav>
		
		</nav>
	</header>
	
	<main>
		<!-- Login Section -->
		<section id="login_section">
			<header>
				<h1>로그인</h1>
			</header>
			<article>
				<form id="login" method="post" action="#">
					<input type="text" name="id" id="id" placeholder="아이디를 입력해주세요">
					<input type="password" name="pw" id="pw" placeholder="비밀번호를 입력해주세요">
					<div>
						<a href="">아이디</a> / <a href="">비밀번호</a> 찾기
					</div>
					<input type="submit" id="submit" value="LogIn">
				</form>
			</article>
		</section>
	</main>
	
	<footer>
	
	</footer>
</body>
</html>