#admin_home{
    display: flex;
    flex-direction: column;
    width : 800px;

    margin : 0 auto;
}

.admin__list-wrap {
    width : 200px;
    height : 80px;

    border : 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;

}

/*통계*/
#user_statis {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_statis__div {
    display: flex;
    align-items: center;
}

.mermaid {
    height: 350px;
}