@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}

body {
    font-family: NEXON Lv2 Gothic, sans-serif;
}

main {
    margin : 0 auto;
    padding : 25px 0 10px 0;
}

.container {
    display: flex;
    border-bottom: 2px solid #808080;
    padding-bottom: 15px;
    /*height: 30px;*/
}
.container a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.container > a > div {
    display: flex;
    align-items: center;
}
.section {
    height: 30px;
    margin-right: 40px;
    cursor: pointer;
    transition: font-weight 0.3s, font-size 0.3s;
}

.section h2 {
    font-weight: normal;
    font-size: 25px;
    color: grey;
}

.section.active h2 {
    font-weight: bold;
    font-size: 30px;
    color: black;
}
/*==================================================*/
.first{
    display: flex;
}
.imgsize{
    width: 40%;
    height: 400px;
    margin: 30px;
    border: 2px solid #ddd;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    object-fit: cover;
}
.imgsize>img{
    height: 100%;
    object-fit: cover;
}
/*칵테일설명(이름포함)*/
.explain{
    flex-grow: 1;
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*칵테일이름*/
.cakname{
    width: 100%;
    height:40px;
    line-height: 40px;
    margin-top: 70px;
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
}
/*칵테일영어이름*/
.engname{
    height:40px;
    margin-left: 15px;
    line-height: 47px;
    font-weight: normal;
    font-size: 0.65em;
    color: darkgray;
}
/*칵테일설명*/
.cakexplain {
    line-height: 30px;
    width: 100%;
    height: 200px;
    word-break: keep-all;
}
.tags{
    font-weight: bold;
    display: flex;
}
.tag1,.tag2,.tag3{
    color: beige;
    border-radius: 10px;
    margin-right: 20px;
    height: 30px;
    line-height: 21px;
    padding: 5px;
    font-size: 0.8em;
}
.tag1 {
    background-color:lightseagreen;
}
.tag2{
    background-color:cornflowerblue;
}
.tag3{
    background-color:orchid;
}
/*=====================================================*/
.second{
    display: flex;
    margin: 50px 30px;
    justify-content: space-around;
}
/*재료정보칸 전부*/
.jaeryo{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    width: 35%;
    margin : 0 15px;
}
/*용량*/
.yang{
    text-align: right;
}
/*재료정보, 만드는법*/
.title{
    padding : 5px;
    font-size: 1.7em;
    font-weight: bold;
}
/*재료 사진*/
.jaeryoimg{
<<<<<<<<< Temporary merge branch 1
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding : 3px;
    object-fit: cover;
    background-color: rgb(250, 240, 238);
}
.methods{
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
    padding : 5px;
    margin: 30px auto 15px auto;
    line-height: 60px;
}
.jaeryos{
    margin: 15px 0;
    padding : 0 15px;
}
.jaeryoname{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left : 15px;

    font-weight: bold;
    font-size: 1rem;
}
/*=========================================*/
.third{
    margin: 20px 0 0 50px;
}
.anju{
    margin: 30px auto;
    margin-left: 20px;
    display: flex;
}
/*안주사진*/
.anjuimg{
    width: 120px;
    border: 1px solid black;
    border-radius: 140px;
}
/*안주이름*/
.anjuname{
    font-weight: bold;
    margin: 15px;
    text-align: center;
}
.d{
    margin-right: 40px;
}
/*==============================================*/
.fourth{
    margin: 190px;
    margin-left: 50px;
}
.title2{
    margin: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.fourthtitle{
    font-size: 1.7em;
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    width: 1200px;
}
.explain2{
    font-weight: bold;
    font-size: 0.9em;
    line-height: 20px;
    width: 180px;
    margin-left: 10px;
    margin-bottom: 10px;
}
/*관련칵테일이미지*/
.imgimg{
    width: 150px;
}
.rhksfus{
    margin-right: 30px;
    width: 300px;
}
.ang{
    width: 700px;
    display:flex;
    margin: 30px auto;
    margin-left: 40px;
}
.imgimg{
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 190px;
}
.tag10,.tag20,.tag30{
    line-height: 20px;
    padding: 4px;
    margin-left: 5px;
    font-size: 0.8em;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
}
.tag10{
    background-color: greenyellow;
}
.tag20{
    background-color: orange;
}
.tag30{
    background-color: deepskyblue;
}
.tagss{
    font-weight: bold;
    display: flex;
    justify-content: left;
}

/*연주 추가 코드*/
.jaeryos > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin : 10px 0;
}

.jaeryoname_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 10px 20px;
    width: 100%;

}

.method {
    margin : 0 15px;
}

.methods > div {
    white-space: pre-line;
}