@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('../css/root.css');

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NEXON Lv2 Gothic', sans-serif;
}

main {
    margin : 0 auto;
    padding : 25px 0 10px 0;
}


.container {
    display: flex;
    border-bottom: 2px solid #808080;
    padding-bottom: 15px;
    align-items: center;
    height: 30px;
}
.container a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
/*=================================================*/
.section {
    margin-right: 40px;
    cursor: pointer;
    transition: font-weight 0.3s, font-size 0.3s;
}

.section h2 {
    text-decoration: none;
    font-weight: normal;
    font-size: 25px;
    color: grey;
}

.section.active h2 {
    font-weight: bold;
    font-size: 30px;
    color: black;
}
.button {
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.9em;
    padding: 5px 15px;
    color: dimgray;
}
.info_top_wrap {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-top : 15px;
}

/*베이스주, 도수, 맛, 그외 버튼*/
.btn_wrap {
    display: flex;
}
.btn {
    font-family: NEXON Lv2 Gothic, sans-serif;
    margin-right: 15px;
    display:inline-flex;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.search-container > span.material-icons {
    margin : 0;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

/*검색*/
.search{
    background-color: white;
    color: #333333;
    border: 1px solid var(--border-gray);
    border-radius: 9px;
    width: 230px;
    height: 30px;
    font-size: 0.9rem;
    text-align: left;
    padding : 0 5px 0 40px;
}
.material-icons{
    margin: 3px 0 0 4px ;
    width: 30px;
}

/*=================================================*/
.grid-container {
    margin: 30px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);  /* 3개의 열 */
    /*gap: 20px;*/
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin : 10px;
}
.grid-item a {
    color: black;
    text-decoration: none;
}
/*게시물 제목*/
.grid-item a div:nth-child(2) {
    font-size: 23px;
    font-weight: bold;
    margin: 15px 0  10px 5px;
    color: black;
}
/*게시물 설명*/
.grid-item a div{
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-left: 5px;
    color: dimgray;
}
.dz{
    height: auto;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.thumbnail {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    border:1px solid #ddd;
    border-radius: 15px;
    object-fit: cover;
}
.tags{
    justify-content: space-around;
    display: flex;
    gap: 5px;
    margin: 10px 0 0 0px;
}
.tag1,.tag2,.tag3{
    flex-basis: 60px;
    color: white;
    border-radius: 10px;
    width: 50px;
    font-size: 0.8em;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
}
.tag1 {
    background-color:lightseagreen;
}
.tag2{
    background-color:cornflowerblue;
}
.tag3{
    background-color:orchid;
}
