@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body {
    font-family: NEXON Lv2 Gothic, sans-serif;
}

main {
    margin : 0 auto;
    padding : 25px 0 10px 0;
}

.container {
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    height: auto;
}
.container a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.section {
    margin-right: 40px;
    cursor: pointer;
    transition: font-weight 0.3s, font-size 0.3s;
}

.section h2 {
    text-decoration: none;
    font-weight: normal;
    font-size: 25px;
    color: grey;
}

.section.active h2 {
    font-weight: bold;
    font-size: 30px;
    color: black;
}
/*==================================================*/
.first{
    display: flex;
}
/*칵테일이미지*/
.imgsize{
    flex-basis: 450px;
    height: 400px;
    margin: 30px;
    border: 2px solid #ddd;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    object-fit: cover;
}
.imgsize>img{
    height: 100%;
}
/*칵테일설명(이름포함)*/
.explain{
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*재료이름*/
.cakname{
    width: 100%;
    height:40px;
    line-height: 40px;
    margin-top: 70px;
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    flex-wrap: wrap;
}
/*재료영어이름*/
.engname{
    height:40px;
    margin-left: 15px;
    line-height: 47px;
    font-weight: normal;
    font-size: 0.65em;
    color: darkgray;
}
/*재료설명*/
.cakexplain {
    line-height: 30px;
    width: 100%;
    height: 200px;
    word-break: keep-all;
}
.tags{
    color: black;
    display: flex;
    font-weight: bold;
}
.tag1,.tag2,.tag3,.tag4{
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-right: 20px;
    line-height: 15px;
    padding: 5px;
    font-size: 0.8em;
}
.tag1{
    background-color: greenyellow;
}
.tag2{
    background-color: orange;
}
.tag3{
    background-color: deepskyblue;
}
.tag4{
    background-color: palevioletred;
}

.title{
    /*border-bottom: 1px solid grey;*/
    padding-bottom: 15px;
    font-size: 1.7em;
    font-weight: bold;
}
/*=========================================*/
.fourth{
    margin : 20px;

}

.title2{
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.explain2{
    font-weight: bold;
    font-size: 0.9em;
    line-height: 20px;
    color: grey;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.rhksfus{
    width: 100%;

    flex-wrap: wrap;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tag10,.tag20,.tag30{
    line-height: 20px;
    padding: 4px;
    margin-left: 5px;
    font-size: 0.8em;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
}
.tag10{
    background-color: greenyellow;
}
.tag20{
    background-color: gold;
}
.tag30{
    background-color: lightblue;
}
.tagss{
    font-weight: bold;
    display: flex;
    justify-content: left;
}
.ang{
    /*width: 700px;*/
    display:flex;
    padding:30px 20px;
    border-top: 1px solid grey;
}
.imgimg{
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100%;
    height: 200px;

    object-fit: cover;
}

.make_cocktail_wrap {
    width: 20%;
    margin: 10px;
}