@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    border-bottom: 2px solid #808080;
    padding-bottom: 15px;
}
.container a{
    text-decoration: none;
}
/*=================================================*/
.section {
    margin-right: 40px;
    cursor: pointer;
    transition: font-weight 0.3s, font-size 0.3s;
}

.section h2 {
    text-decoration: none;
    font-weight: normal;
    font-size: 25px;
    color: grey;
}

.section.active h2 {
    font-weight: bold;
    font-size: 30px;
    color: black;
}
.info_top_wrap {
    display: flex;
    justify-content:space-between;
    width: 1200px;
    margin-top : 15px;
}
main {
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: var(--default-width);
    margin: 0 auto;
    padding: 25px 0 10px 0;
}
body {
    font-family: NEXON Lv2 Gothic, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    color: #333;
}