<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.momol.Mapper.CockMapper">
    <select id="cocktailList" resultType="com.example.momol.DTO.CocktailVO">
        SELECT
        c.name,c.name_eng,c.ABV,c.cocktail_detail,c.recipe,c.cocktails,c.cocktail_img,
        b.tagName AS basetag,t.tagName AS tastetag, s.TagName AS smelltag
        FROM
        cocktail c LEFT JOIN basetag b ON c.baseNo = b.tagNo
        LEFT JOIN tastetag t ON c.tasteNo = t.tagNo
        LEFT JOIN smelltag s ON c.smellNo = s.TagNo
    </select>

    <select id="cocktailInfo" resultType="com.example.momol.DTO.CocktailVO">
        SELECT
        c.name,c.name_eng,c.ABV,c.cocktail_detail,c.recipe,c.cocktails,c.cocktail_img,
        b.tagName AS basetag,t.tagName AS tastetag, s.TagName AS smelltag
        FROM
        cocktail c LEFT JOIN basetag b ON c.baseNo = b.tagNo
        LEFT JOIN tastetag t ON c.tasteNo = t.tagNo
        LEFT JOIN smelltag s ON c.smellNo = s.TagNo
        WHERE name=#{name}
    </select>

    <select id="cock_ingreList" resultType="com.example.momol.DTO.CockIngredientVO">
        select * from cock_ingre WHERE name=#{name}
    </select>
    <select id="searchCocktails" resultType="com.example.momol.DTO.CocktailVO">
        SELECT * FROM cocktail WHERE name LIKE CONCAT('%', #{searchText}, '%')
    </select>
    <select id="cock_ingre" resultType="com.example.momol.DTO.CockIngredientVO">
        select name, ing_name, ing_amount, ing_photo from cock_ingre cross join momol.ingredient i on cock_ingre.ing_num = i.ing_num
        where name=#{name}
    </select>
    <select id="jaeryoinfo" resultType="com.example.momol.DTO.CocktailVO">
        select name, ing_photo, ing_detail
        from cock_ingre cross join ingredient i on i.ing_num = cock_ingre.ing_num
        where ing_name="#{name}";
    </select>
    <select id="getCategoryData2" resultType="com.example.momol.DTO.CocktailVO">
        SELECT
            c.name, c.name_eng, c.ABV, c.cocktail_detail, c.recipe, c.cocktails, c.cocktail_img,
            b.tagName AS basetag, t.tagName AS tastetag, s.TagName AS smelltag
        FROM
            cocktail c
            LEFT JOIN basetag b ON c.baseNo = b.tagNo
            LEFT JOIN tastetag t ON c.tasteNo = t.tagNo
            LEFT JOIN smelltag s ON c.smellNo = s.TagNo
        WHERE 1=1
        <if test="!basetag.equals('')">
            AND
            b.tagName=#{basetag}
        </if>
<!--        <if test="ABV!=null">-->
<!--            AND-->
<!--            c.ABV = ${ABV}-->
<!--        </if>-->
        <if test="tastetag!=null">
            AND
            t.tagName=#{tastetag}
        </if>

    </select>
</mapper>