<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.momol.Mapper.CommunityMapper">
    <insert id="communityInsert">
        insert into board(catnum, UID, title, content) values(#{Catnum}, #{UID} ,#{title},#{Content})
    </insert>

    <select id="getPostByNum" resultType="com.example.momol.DTO.CommunityVO">
        SELECT * FROM board WHERE num = #{num}
    </select>

    <select id="getPostsSortedByLately" resultType="CommunityVO">
        SELECT * FROM board ORDER BY writetime DESC
    </select>

    <select id="getPostsSortedByLikes" resultType="CommunityVO">
        SELECT * FROM board ORDER BY likes DESC
    </select>

    <select id="searchPosts" resultType="CommunityVO" parameterType="map">
        SELECT * FROM board
        <if test="searchType == 'title'">
            WHERE title LIKE '%' #{keyword} '%'
        </if>
        <if test="searchType == 'author'">
            WHERE UID LIKE '%' #{keyword} '%'
        </if>
        <if test="searchType == 'content'">
            WHERE content LIKE '%' #{keyword} '%'
        </if>
        ORDER BY writetime DESC
    </select>
</mapper>