<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.momol.Mapper.InfoMapper">
    <select id="userSelectbyUID" resultType="com.example.momol.DTO.UserVO">
        SELECT * FROM User WHERE UID = #{UID}
    </select>

    <!-- 추가: 사용자 정보 업데이트 -->
    <update id="updateUser" parameterType="com.example.momol.DTO.UserVO">
        UPDATE User
        SET Nick = #{nick}, Phone = #{phone}
        WHERE UID = #{UID}
    </update>

    <!-- 마이페이지 : 내 글 불러오기 -->
    <select id="my_post" resultType="com.example.momol.DTO.CommunityVO">
        SELECT num, Category, title, writetime, views, likes
        from board join `board_ category` bc on board.catnum = bc.KeyNo
        where UID= #{UID}
    </select>



    <select id="businessSelectbyUID" resultType="com.example.momol.DTO.BusinessVO">
        SELECT * FROM Business WHERE UID = #{UID}
    </select>

    <select id="bimenuSelectbybizno" resultType="com.example.momol.DTO.MenuVO">
        SELECT * FROM Bimenu WHERE bizno = #{bizno}
    </select>

    <!-- Insert query for adding new data -->
    <insert id="insertBusiness" parameterType="com.example.momol.DTO.BusinessVO">
        INSERT INTO Business (bizno, UID, place, other, address, date, time)
        VALUES (#{bizno}, #{UID}, #{place}, #{other}, #{address}, #{date}, #{time})
    </insert>

    <!-- Update query for existing data -->
    <update id="updateBusiness" parameterType="com.example.momol.DTO.BusinessVO">
        UPDATE Business
        SET bizno = #{bizno},
            Place = #{place},
            Other = #{other},
            Address = #{address},
            Date = #{date},
            Time = #{time}
        WHERE UID = #{UID}
    </update>

    <update id="updateMenu">
        UPDATE bimenu
        SET subject=#{subject}, content = #{content}
        WHERE bizno=#{bizno} AND subject=#{beforeSubject}
    </update>

    <delete id="deleteMenu" parameterType="com.example.momol.DTO.MenuVO">
        DELETE FROM bimenu
        WHERE bizNo=#{bizno} AND subject=#{subject}
    </delete>

    <insert id="insertMenu" parameterType="com.example.momol.DTO.MenuVO">
        INSERT INTO Bimenu (Bizno, Subject, Content)
        VALUES (#{bizno}, #{subject}, #{content})
    </insert>
</mapper>